:root {
    --primary: rgb(255, 0, 0);
    --grey: black;
    --card-width: 400px;
    --image-width: calc(var(--card-width) / 2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

main {
    min-height: 100vh;
    background-image: linear-gradient(to top left, rgb(249, 12, 0), rgb(212, 255, 0));
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style for the Home Button */
.home-button {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    width: 100px;
    height: 100px;
}
.home-button img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}
.home-button img.clicked {
    transform: rotate(360deg);
}

/* Basic reset */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.card {
    position: relative;
    width: 100%;
    max-width: var(--card-width);
    background-color: #ffffff5f;
    border-radius: 3rem;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.card .image {
    position: relative;
    margin: -10rem auto 1.5rem;
    width: var(--image-width);
    height: var(--image-width);
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    overflow: hidden;
    padding: 0.25rem;
    background-color: #FFF;
}

.card .image img {    
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transition: 0.5s;
    border: 5px solid var(--primary);
}

.card:hover {
    --card-width: 500px;
    --image-width: calc(var(--card-width) / 2);
}

.card:hover .image {
    margin-top: -4rem;
    border-radius: 2rem;
}

.card:hover .image img {
    border-radius: 2rem;
}

.card .name {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card .content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.4s;
}

.card .content p {
    color: var(--grey);
    font-size: 1.125rem;
}

.card:hover .content {
    max-height: 300px;
    opacity: 1;
    overflow: visible;
}

.card .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.card .buttons button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: block;
    padding: 0.5rem 3rem;
    border-radius: 1rem;
    background-color: var(--primary);
    color: #6aff00;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0 0.5rem;
    min-width: 145px;
    transition: 0.4s;
}

.card .buttons button:hover {
    box-shadow: 0 2px 6px #6aff00;
    transform: translateY(-1rem) scale(1.3);
}
